@media(max-width:900px){
  main{
    display: grid;
    grid-template-columns: 1fr 1fr
  }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    margin-left: -8px;
}

li {
    float: left;
    margin-bottom: -4px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 28px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
  }

.Aktivside{
  background-color: #00b900;
}

.slideshow{
  height: 500px;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  overflow: hidden;
  text-align: center;

}

.slideshowbilder{
  height: 500px;
  width: 3900px;
  position: relative;
  transition: left 2s;
  -webkit-transition: left 2s;
}

.bildeslide{
  float: left;
  margin: 0px;
  padding: 0px;

}

.slideknapper{
  top: -20px;
  position: relative;
}

.slider-button{
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 5px;
  background-color: darkgrey;
}

.active, .slider-button:hover{
  background-color: #717171;
}

#bildeslide1:target ~ .slideshowbilder{
  left: 0px;
}
#bildeslide2:target ~ .slideshowbilder{
  left: -1300px;
}
#bildeslide3:target ~ .slideshowbilder{
  left: -2600px;
}

#bildeknapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-left: 80px;
  font-size: 25px;
  color: darkblue;
}
.hjemmesideBildeKnapper{
  position: relative;
}
.hjemmesideBildeKnapper p{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.a123{
margin-top: 100px;
}
.varer{
 border-radius: 3px;
}
.bilde_container{
  width: 70%;
  margin: auto;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  padding: 1.25rem;
  margin-top: 5px;
}
.text_container {
  width: 70%;
  margin: auto;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
}
.subheader {
  font-size: 120%;
  margin-bottom: 0;
}

#secVarer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  width: 90%;
  margin: auto;
  text-align: center;
}
.sorteringsknapp{
  text-align: center;
  margin-left: 462px;
}
.sorteringsknapp .button {
  background-color: #666666; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.sorteringsknapp .button:hover {
  background-color: #3e8e41;
}

.vareBilde:hover{
  filter: opacity(0,5);
}

.video{
  height: 400px;
  width: 1000px;
  margin-left: 200px;
  margin-top: 30px;
}

.varekjop{
  margin-top: 100px;
  text-align: center;
}
.valgtvare{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.varekjopbilde{
  width: 60%;
}
.varekjoptekst{
  width: 70%;
  margin-top: 40px;
}
.beskrivelsegrid{
  font-weight: 200;
  line-height: 1.333333em;
  font-family: sans-serif;
  color: #333;
}
.velgstorrelse{
  text-align: center;
  margin-top: 20px;
}
.varekjopbutton {
  background-color: green;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 920px;
}
.button1 {
  background-color: green;
  color: white;
  border: 2px solid green;
}

.button1:hover {
  background-color: darkgreen;
  color: white;
  border: 2px solid darkgreen;
}

.om_oss{
  text-align: center;
  margin-top: 80px;
  color: #333;
  font-weight: 200;
  font-family: sans-serif;

}
.info1{
  text-align: justify;
  margin-left: 300px;
  margin-right: 300px;
  line-height: 1.333333em;
  font-weight: 200;
  margin-top: 80px;
  font-size: 25px;
}
.underoverskrift1{
  text-align: left;
  margin-left: 300px;
}
.info2{
  text-align: justify;
  text-align: left;
  margin-left: 300px;
  margin-right: 500px;
}
footer{
  background-color: #666666;
  margin-top: 20px;
}

.mellomrom{
  margin-top: 100px;
}

.sticky{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


.fa{
  padding: 23px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-top: 70px;
  margin-bottom: 70px;
}

.fa:hover{
  opacity: 0.7;
}

.fa-facebook{
  background: #3B5998;
  color: white;
  margin-left: 630px;
}

.fa-twitter{
  background: #55ACEE;
  color: white;
}

.om_osslink{
  margin-left: 250px;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 18px;
}

.om_osslink:visited{
  color: white;
  text-decoration: none;
}

.om_osslink:hover{
  color: white;
  text-decoration: underline;
}
