
body{
  background-color: black;
  margin: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e65c00;
    position: fixed;
    width: 100%;
    top: 0;
}

li {
    float: left;
    margin-bottom: -4px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

#logolenke {
  padding: 0px 0px;
  margin-bottom: -10px;
}

li a:hover {
    background-color: #111;
  }

article {
      background-color: white;
      margin-left: 10px;
      margin-right: 10px;
      grid-row: span 2;
      text-align: center;
}

.bilde1 {
        grid-column: span 3;
        grid-row: span 8;
}

.hovedgrid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 50px;
  margin-top: 20px;


}

div {
    background-color: white;
    margin-left: -70px;
    margin-right: -70px;
    grid-row: span 2;
    text-align: center;
}

.undergrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 50px;
  margin-top: 20px;
  grid-gap: 20px;

}

.usynlig {
    opacity: 0;
    background-color: black;
}


}
.gamemodegrid {
  display: grid;
  grid-gap: 20px;
  margin-top: 20px;
  grid-auto-rows: 50px;
  grid-template-columns: 1fr 1fr 1fr;

}
.gamemodebildegrid>article {
  margin-left: 0px;
  margin-right: 0px
}

.gamemodebildegrid {
  display: grid;
  grid-gap: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 80px;
  grid-auto-rows: 50px;
  grid-template-columns: 1fr 1fr 1fr;

}

.weaponsbildegrid {
  display: grid;
  grid-gap: 20px;
  margin-top: 60px;
  grid-auto-rows: 100px;
  grid-template-columns: 1fr 1fr;
  grid-row: span 2;

}

.weaponstekstgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-auto-rows: 20px;
  margin-top: 5px;
}

.weaponsbeskrivelsegrid {
  display: grid;
  margin-top: 20px;
  grid-auto-rows: 50px;
}
