
body{
  background-color: black;


}
h1{
  background-color: white;
  text-align: center;
  padding: 20px;
  width: 360px;
  margin:auto;
}

table{
  border-style: solid;
  border-color: #8c8c8c8c;
  border-width: 5px;
  text-align: center;
  margin: auto;
}
img#kognitiv{
border-style: solid;
border-color: black;
border-width: 10px;
display: block;
}
